.App {
  text-align: center;
}
.App-logo {
  height: 40vmin;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-link {
  color: #09d3ac;
}
.bold{
  font-weight: bold;
}
.stickToTopAndRight{
  right: 5%;
  top: 5%;
}
ul{
  padding-left: 0;
  list-style: none;
}

#mainimagelist >li{
  border-bottom: 2px solid transparent;
}
#mainimagelist >li:hover{
  border-bottom: 2px solid red;
}
#numeric-info:hover{
  box-shadow:0 0 8px rgba(0,0,0,.5);
}
.paintitblack:hover{
  color: black;
}
.paintitblack{color:'#1287a8'}

.iconslist:hover{
  opacity: 0.5;
}














          
          
          

            

                


                  


                      
                      